@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    
    * {
        margin: 0;
        padding: 0;
        font-family: lato;
    }

    body {
        min-height: 100vh;
        background: linear-gradient(#a18cd1, #f8c0ea);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        display: flex;
        
    }

    img {
        width: 300px;
    }

    form {
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px;
        box-sizing: border-box;
    }